.parent{
    margin: 10% 40%;
    background-color: black;
    border-radius: 20px;
    border: solid 5px maroon;
    width: 300px;
    height: 400px;
}

.message{
    margin: 5px;
    background-color: grey;
    border-radius: 20px;
    width: 290px;
    height: 300px;
}

.typing{
    margin: 5px;
    background-color: brown;
    width: 280px;
    height: 70px;
    color: cyan;
}

.type{
    margin: 5px 70px;
    color: hotpink;
}